/*
Developer : corner,
*/


/*

icons

*/

.theme-text-color {
    color: #FFD04b;
}
.theme-bg-color {
    background-color: #FFD04b;
}

// 헤더 컨테이너 css
.el-header {
    min-height: 80px;

    background-color: #212121;
    width: 100%;

}

.el-select {
    width: 145px;
}

.header {
    min-width: 1180px;
    min-height: 80px;
    background-color: #212121;
    .logo_box {
        img { vertical-align: middle; }
        strong {
            vertical-align: middle;
            white-space: nowrap;
            word-break: keep-all;
            font-size: 18px;
        }
    }
}

.el-menu {
    height: 82px;
}
.el-menu--horizontal>.el-menu-item {
    height: auto;
    line-height: 82px;
}

.el-menu-item {
    min-height: 81px;
}
.el-submenu__title {
    min-height: 81px;
}
.el-menu--horizontal .el-menu .el-menu-item {
    min-height: auto !important;
    text-align: center;
    width: 100px;
}

/* 메인 컨테이너 css */
.el-main {
    padding-top: 81px;
}

@media screen and (max-width: 768px) {
    .el-main {
        padding-top: 150px;
    }
}

.main-container {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 30px;

    min-height: calc(100vh - 84px);
}


.seasons-menu {
    .el-menu--popup {
        min-width: 100px;
    }
}

.li-el-menu--item {
    color: rgb(255, 255, 255); border-bottom-color: transparent; background-color: rgb(33, 33, 33);
}

.el-menu-demo {
    span {
        &:first-child {
            line-height: 59px;
            min-width: 80px;
        }
        a {
            text-align: center;
            margin: 0 auto;
        }
    }
}

.el-tabs__nav {
    float: unset !important;
}
.el-tabs__content {
    overflow: unset !important;
    position: unset !important;
}

.el-tabs--border-card {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}


// 버튼

.el-button--primary,
.el-button--primary:focus,
.el-button--primary:hover, {
    color: #222;
    background-color: #FFD04b;
    border-color: #FFD04b;
    &:hover, &:focus {
        background-color: #FFD267FF;
        border-color: #FFD267FF;
    }

}
.el-tabs--border-card>.el-tabs__header {
    background-color: #FFD04b;
    color: #212121;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item {
    color: #212121;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-disabled {
    color: #777777;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    color: #212121;
}

