/*
Developer : corner,
*/


/*

icons

*/

// 헤더
.el-header {
    min-height: 60px;

    background-color: #212121;
    width: 100%;

}

.el-select {
    width: 145px;
}

.header {
}

.el-main {
    padding-top: 81px;
}

@media screen and (max-width: 768px) {
    .el-main {
        padding-top: 150px;
    }
}

.main-container {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 30px;
}

.el-menu-item {
    min-height: 81px;
}
.el-submenu__title {
    min-height: 81px;
}
.el-menu--horizontal .el-menu .el-menu-item {
    min-height: auto !important;
    text-align: center;
    width: 100px;
}

.seasons-menu {
    .el-menu--popup {
        min-width: 100px;
    }
}

.li-el-menu--item {
    color: rgb(255, 255, 255); border-bottom-color: transparent; background-color: rgb(33, 33, 33);
}

.el-menu-demo {
    span {
        &:first-child {
            line-height: 59px;
            min-width: 80px;
        }
        a {
            text-align: center;
            margin: 0 auto;
        }
    }
}

.el-tabs__content {
    overflow: unset !important;
    position: unset !important;
}

.el-tabs--border-card {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
