/*
Developer : corner,
*/


/*

icons

*/

// 헤더
.el-header {
    min-height: 60px;

    background-color: #212121;
    position: absolute;
    top: 0;
    width: 100%;

}

.el-select {
    width: 145px;
}

.header {
}

.el-main {
    height: 100vh;
    padding-top: 81px;
}
