.unit_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

// lnb
.lnb {
    //width: 25%;
    width: 245px;
}

.unit-list {
    display: inline-block;
    margin-right: 25px;
    margin-top: 10px;
    &:nth-of-type(4n) {
        margin-right: 0;
        margin-top: 0;
    }
}

.unit-box {
    display: inline-block;
    cursor: pointer;
    .unit-img-box {

        img {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }
    .unit_name {
        font-size: 8px;
        font-weight: 400;
        color: #212121;

        max-width: 40px;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        white-space: nowrap;

    }
}

.main-wrap {
    width: 75%;

    .unit_top_banner {
        height: 98px;
        width: 100%;
        object-fit: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center -100px;
    }

}
