.unit_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-width: 1180px;
}

// lnb
.lnb {
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    //width: 25%;
    width: 245px;
    height: 100%;
    //max-height: 100%;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #e5e5e5;

    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.lnb_unit_box {
    .el-badge__content {
        background-color: #222222;
        color: #FFD04b;
    }
}

.unit-list {
    display: inline-block;
    margin-right: 25px;
    margin-top: 10px;
    &:nth-of-type(4n) {
        margin-right: 0;
        margin-top: 0;
    }
}

.unit-box {
    display: inline-block;
    cursor: pointer;
    .unit-img-box {

        img, .unit_img_box {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }
}
.unit_name {
    font-size: 8px;
    font-weight: 400;
    color: #212121;

    max-width: 40px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;

}

.main-wrap {
    width: calc(100% - 252px);
    margin-top: 15px;
    margin-left: 5px;

    .unit_top_banner {
        width: 200px;
        height: 200px;
        object-fit: contain;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 19px 15px 25px rgba(0, 0, 0, 0.2);
        .over_text {
            bottom: 10px;
            .unit_banner_name {
                background-color: #22222273;
                padding: 0 5px;

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 200px;
                display: block;
            }
        }

        .cost_wrap {
            width: 50%;
            background-color: #22222270;
            color: #FFD04b;
            border-top-left-radius: 0;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 0;
        }
        .cost_img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
        .cost_value {
            font-size: 11px;
            font-weight: 500;
            vertical-align: top;
            height: 20px;
            line-height: 20px;
        }
    }

    .unit_content_wrap {


        .unit_ability_info {
            background-color: #efefef50;
            text-align: left;
            padding: 20px 16px;
            color: #333333;
            display: flex;
            .ability_title {
                display: inline-block;
                vertical-align: top;
                padding-left: 16px;
                font-size: 14px;
                font-weight: 700;
            }
            .ability_desc {
                font-size: 12px;
                padding-top: 8px;
                word-break: keep-all;
                font-weight: 400;
            }
        }

    }

}
.unit_img_box {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item_img_box {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.el-progress-bar__outer {
    background-color: #e5e5e5;
}

.unit_status {
    min-height: 50px;
    display: flex;
    align-items: center;
    .status_box {
        display: inline-block;
        padding: 15px;
        .status_title {
            font-size: 12px;
            font-weight: 500;
            color: #ffffff;
        }
        .status_value {
            font-size: 12px;
            color: #e4bebefb;
        }
    }
}

.item {
    top: -3px;
    position: absolute;
    .el-badge__content {
        font-size: 8px;
        line-height: 11px;
        height: 11px;
        padding: 0 2px;
    }

}
.most_list {
    .el-popover {
        position: unset !important;
    }
}

.trait_box {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FFD04b;
}
