.unit_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

// lnb
.lnb {
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    },
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    //width: 25%;
    width: 245px;
    max-height: 600px;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #e5e5e5;

    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.unit-list {
    display: inline-block;
    margin-right: 25px;
    margin-top: 10px;
    &:nth-of-type(4n) {
        margin-right: 0;
        margin-top: 0;
    }
}

.unit-box {
    display: inline-block;
    cursor: pointer;
    .unit-img-box {

        img, .unit_img_box {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }
    .unit_name {
        font-size: 8px;
        font-weight: 400;
        color: #212121;

        max-width: 40px;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        white-space: nowrap;

    }
}

.main-wrap {
    width: 75%;

    .unit_top_banner {
        height: 98px;
        width: 100%;
        object-fit: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center -100px;
        .over_text {
            top: 25%;
        }
    }

    .unit_content_wrap {
        .cost_img {
        }
        .cost_value {
            font-size: 11px;
            font-weight: 500;
            background-color: #222222;
            color: #FFD04b;
            border-radius: 50%;
            padding: 3px;
        }
        .unit_status {
            background-color: #e5e5e5;
            min-height: 50px;
            .status_box {
                display: inline-block;
                padding: 15px;
                .status_title {
                    font-size: 12px;
                    font-weight: 500;
                    color: #78828C;
                }
                .status_value {
                    font-size: 12px;
                    color: #333333;
                }
            }
        }

        .unit_ability_info {
            background-color: #606266;
            text-align: left;
            padding: 20px 16px;
            color: #ffffff;
            display: flex;
            .ability_title {
                display: inline-block;
                vertical-align: top;
                padding-left: 16px;
                font-size: 14px;
            }
            .ability_desc {
                font-size: 12px;
                padding-top: 8px;
                word-break: keep-all;

            }
        }

    }

}
.unit_img_box {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
