.main-wrap {
    padding: 26px 0;
    height: 100%;
}

.main-content {
    margin-top: 30px;
}

.season_list_content {
    .season_list {
        display: flex;
        width: 100%;
        height: 82px;
        border: 1px solid #cccccc;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
    }
}
.item_box {
    width: 64px; height: 64px;
    border: 1px solid #cccccc40;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    cursor: pointer;
    margin-right: 8px;

    background-size: 64px 64px;
    background-position: center;
    background-repeat: no-repeat;
    div {
        right: 0;
        background-color: #b7f3a9;
        border-radius: 50%;
        min-width: 18px;
        text-align: center;
        color: #222222;
        font-size: 12px;
    }
}

.tab_content {
    width: 100%;
    align-items: center;
    justify-content: center;
    li {
        text-align: center;
        min-width: 60px;
        padding-right: 8px;
        color: #ad5b01;
        font-size: 16px;
        font-weight: 800;
        cursor: pointer;
        &:nth-last-of-type(1) {
            padding-right: 0;
        }
    }
}
