/* dispaly */
.d-flex {display: flex;}
.d-inline-b {display: inline-block;}

/* text */
.text-center {text-align: center;}

.p-absolu {position: absolute;}
.p-relative {position: relative;}

.w-100-p {width: 100%;}
.h-100-p {height: 100%;}
